/* style.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.form-background {
  background-color: black; /* Fundo preto */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 800px; /* Ajuste a largura conforme necessário */
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-row div {
  width: 48%; /* Ajusta o tamanho das colunas */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-button {
  width: 100%; /* Ou outra largura desejada */
  padding: 1rem; /* Ajuste conforme necessário */
  text-align: center;
  border-radius: 1.5rem; /* Para bordas arredondadas */
}
